In [8]:
import pandas as pd

In [52]:
df=pd.read_csv('glassdoor_jobs.csv')

In [53]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
Unnamed: 0           956 non-null int64
Job Title            956 non-null object
Salary Estimate      956 non-null object
Job Description      956 non-null object
Rating               956 non-null float64
Company Name         956 non-null object
Location             956 non-null object
Headquarters         956 non-null object
Size                 956 non-null object
Founded              956 non-null int64
Type of ownership    956 non-null object
Industry             956 non-null object
Sector               956 non-null object
Revenue              956 non-null object
Competitors          956 non-null object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.1+ KB

In [54]:
df.isnull().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [16]:
df.describe()

       Unnamed: 0      Rating      Founded
count  956.000000  956.000000   956.000000
mean   477.500000    3.601255  1774.605649
std    276.117729    1.067619   598.942517
min      0.000000   -1.000000    -1.000000
25%    238.750000    3.300000  1937.000000
50%    477.500000    3.800000  1992.000000
75%    716.250000    4.200000  2008.000000
max    955.000000    5.000000  2019.000000

In [55]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [19]:
df['Salary Estimate'].plot(kind='hist')

TypeError: Empty 'DataFrame': no numeric data to plot

In [56]:
df['Job Title'].value_counts()

Data Scientist                                                               178
Data Engineer                                                                 68
Senior Data Scientist                                                         42
Data Analyst                                                                  18
Senior Data Engineer                                                          17
Business Intelligence Analyst                                                 13
Senior Data Analyst                                                           12
Lead Data Scientist                                                            8
Data Science Manager                                                           7
Principal Data Scientist                                                       6
Marketing Data Analyst                                                         6
Machine Learning Engineer                                                      6
Sr. Data Engineer                                                              6
Analytics Manager                                                              5
Lead Data Engineer                                                             5
Senior Research Scientist-Machine Learning                                     4
Data Engineer 5 - Contract                                                     4
Data Engineer with R                                                           4
Staff Scientist-Downstream Process Development                                 4
Pharmacovigilance Scientist (Senior Pharmacovigilance)                         4
MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB                                      4
Food Scientist - Developer                                                     4
Big Data Engineer                                                              4
Medical Laboratory Scientist                                                   4
Analytics Manager - Data Mart                                                  4
Sr. Data Engineer - Contract-to-Hire (Java)                                    4
Research Scientist                                                             4
R&D Specialist/ Food Scientist                                                 4
ENVIRONMENTAL ENGINEER/SCIENTIST                                               3
Clinical Laboratory Scientist                                                  3
                                                                            ...
Scientist, Stem Cells and Genomics                                             1
Associate Research Scientist I (Protein Expression and Production)             1
Data Engineer, Data Engineering and Artifical Intelligence                     1
Data Scientist/ML Engineer                                                     1
Foundational Community Supports Data Analyst                                   1
Data Engineer Intern                                                           1
Principal Machine Learning Scientist                                           1
Senior Health Data Analyst, Star Ratings                                       1
Data Scientists                                                                1
Tech Manager, Software Engineering - Data                                      1
Data Modeler                                                                   1
Ag Data Scientist                                                              1
Health Data Analyst/Developer                                                  1
Manager, Safety Scientist, Medical Safety & Risk Management                    1
Senior Research Statistician- Data Scientist                                   1
Data Operations Lead                                                           1
Sr. Data Scientist                                                             1
Data Management Specialist                                                     1
Assistant Director/Director, Office of Data Science                            1
Junior Data Analyst                                                            1
Environmental Scientist                                                        1
Scientist - CVRM Metabolism - in vivo pharmacology                             1
Senior Research Scientist - Embedded System Development for DevOps             1
Director, Precision Medicine Clinical Biomarker Scientist                      1
Data Architect / Data Modeler                                                  1
Healthcare Data Scientist                                                      1
Data Science Intern                                                            1
Data Scientist, Rice University                                                1
Research Scientist / Principal Research Scientist - Multiphysical Systems      1
Web Data Analyst                                                               1
Name: Job Title, Length: 328, dtype: int64

In [31]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [57]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [58]:
df=df[df['Salary Estimate']!= '1']

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 956 entries, 0 to 955
Data columns (total 14 columns):
Job Title            956 non-null object
Salary Estimate      956 non-null object
Job Description      956 non-null object
Rating               956 non-null float64
Company Name         956 non-null object
Location             956 non-null object
Headquarters         956 non-null object
Size                 956 non-null object
Founded              956 non-null int64
Type of ownership    956 non-null object
Industry             956 non-null object
Sector               956 non-null object
Revenue              956 non-null object
Competitors          956 non-null object
dtypes: float64(1), int64(1), object(12)
memory usage: 112.0+ KB

KeyError: True

In [59]:
df.shape

(956, 15)

In [60]:
df=df[df['Salary Estimate']!='-1']    #here we removed every row from salary estimate column woith value -1

In [62]:
df.shape

(742, 15)

In [65]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [66]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

Now our task is to reomve all text and paranthesis content from the salary estimate column
we can do this by using lambda function
first we will split the expression at the paranthesis

In [73]:
salary=df['Salary Estimate'].apply(lambda x:x.split("(")[0])

In [74]:
salary

0                                     $53K-$91K
1                                    $63K-$112K
2                                     $80K-$90K
3                                     $56K-$97K
4                                    $86K-$143K
5                                    $71K-$119K
6                                     $54K-$93K
7                                    $86K-$142K
8                                     $38K-$84K
9                                   $120K-$160K
10                                  $126K-$201K
11                                   $64K-$106K
12                                  $106K-$172K
13                                    $46K-$85K
14                                   $83K-$144K
15                                  $102K-$190K
16                                   $67K-$137K
17                                  $118K-$189K
18                                  $110K-$175K
19                                   $64K-$111K
20                                   $81K-$130K
21                                   $73K-$119K
22                                   $86K-$139K
23                                   $63K-$105K
25                                  $109K-$177K
26                                   $63K-$110K
27                                   $75K-$124K
28                                    $34K-$61K
29                                   $63K-$105K
30                                    $80K-$90K
                         ...
920                                   $49K-$97K
921                                  $49K-$113K
924                                  $96K-$161K
926                                  $65K-$134K
928                                  $59K-$125K
929                                   $32K-$59K
930                                  $87K-$158K
931                                   $27K-$48K
932                                   $39K-$69K
933                                   $36K-$71K
934                                 $107K-$173K
935                                   $56K-$99K
936    Employer Provided Salary:$25-$28 Per Hour
938                                  $80K-$155K
939                                   $43K-$98K
940                                   $45K-$78K
941                                  $50K-$110K
942                                   $44K-$96K
943         Employer Provided Salary:$100K-$140K
944                                  $61K-$119K
945                                  $80K-$142K
946                                  $99K-$178K
947                                  $37K-$100K
948                                  $62K-$113K
949                                  $86K-$137K
950                                  $58K-$111K
951                                  $72K-$133K
952                                   $56K-$91K
953                                  $95K-$160K
955                                  $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object

In [75]:
# now we will replace $ and k with blank

In [81]:
rep_k=salary.apply(lambda x:x.replace('K',''))

In [82]:
rep_k

0                                       $53-$91
1                                      $63-$112
2                                       $80-$90
3                                       $56-$97
4                                      $86-$143
5                                      $71-$119
6                                       $54-$93
7                                      $86-$142
8                                       $38-$84
9                                     $120-$160
10                                    $126-$201
11                                     $64-$106
12                                    $106-$172
13                                      $46-$85
14                                     $83-$144
15                                    $102-$190
16                                     $67-$137
17                                    $118-$189
18                                    $110-$175
19                                     $64-$111
20                                     $81-$130
21                                     $73-$119
22                                     $86-$139
23                                     $63-$105
25                                    $109-$177
26                                     $63-$110
27                                     $75-$124
28                                      $34-$61
29                                     $63-$105
30                                      $80-$90
                         ...
920                                     $49-$97
921                                    $49-$113
924                                    $96-$161
926                                    $65-$134
928                                    $59-$125
929                                     $32-$59
930                                    $87-$158
931                                     $27-$48
932                                     $39-$69
933                                     $36-$71
934                                   $107-$173
935                                     $56-$99
936    Employer Provided Salary:$25-$28 Per Hour
938                                    $80-$155
939                                     $43-$98
940                                     $45-$78
941                                    $50-$110
942                                     $44-$96
943           Employer Provided Salary:$100-$140
944                                    $61-$119
945                                    $80-$142
946                                    $99-$178
947                                    $37-$100
948                                    $62-$113
949                                    $86-$137
950                                    $58-$111
951                                    $72-$133
952                                     $56-$91
953                                    $95-$160
955                                    $61-$126
Name: Salary Estimate, Length: 742, dtype: object

In [83]:
rep_d=rep_k.apply(lambda x:x.replace('$',''))

In [84]:
rep_d

0                                       53-91
1                                      63-112
2                                       80-90
3                                       56-97
4                                      86-143
5                                      71-119
6                                       54-93
7                                      86-142
8                                       38-84
9                                     120-160
10                                    126-201
11                                     64-106
12                                    106-172
13                                      46-85
14                                     83-144
15                                    102-190
16                                     67-137
17                                    118-189
18                                    110-175
19                                     64-111
20                                     81-130
21                                     73-119
22                                     86-139
23                                     63-105
25                                    109-177
26                                     63-110
27                                     75-124
28                                      34-61
29                                     63-105
30                                      80-90
                        ...
920                                     49-97
921                                    49-113
924                                    96-161
926                                    65-134
928                                    59-125
929                                     32-59
930                                    87-158
931                                     27-48
932                                     39-69
933                                     36-71
934                                   107-173
935                                     56-99
936    Employer Provided Salary:25-28 Per Hour
938                                    80-155
939                                     43-98
940                                     45-78
941                                    50-110
942                                     44-96
943           Employer Provided Salary:100-140
944                                    61-119
945                                    80-142
946                                    99-178
947                                    37-100
948                                    62-113
949                                    86-137
950                                    58-111
951                                    72-133
952                                     56-91
953                                    95-160
955                                    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [85]:
#now we will make two different columns by hourly salary and employer provided salary

In [108]:
df['hourly']=df['Salary Estimate'].apply(lambda x:1 if "per hour" in x.lower() else 0)

In [109]:
df.head(50)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer_provided
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0
5,Data Scientist,$71K-$119K (Glassdoor est.),CyrusOne is seeking a talented Data Scientist ...,3.4,CyrusOne\n3.4,"Dallas, TX","Dallas, TX",201 to 500 employees,2000,Company - Public,Real Estate,Real Estate,$1 to $2 billion (USD),"Digital Realty, CoreSite, Equinix",0,0
6,Data Scientist,$54K-$93K (Glassdoor est.),Job Description\n\n**Please only local candida...,4.1,ClearOne Advantage\n4.1,"Baltimore, MD","Baltimore, MD",501 to 1000 employees,2008,Company - Private,Banks & Credit Unions,Finance,Unknown / Non-Applicable,-1,0,0
7,Data Scientist,$86K-$142K (Glassdoor est.),Advanced Analytics – Lead Data Scientist\nOver...,3.8,Logic20/20\n3.8,"San Jose, CA","Seattle, WA",201 to 500 employees,2005,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1,0,0
8,Research Scientist,$38K-$84K (Glassdoor est.),SUMMARY\n\nThe Research Scientist I will be ta...,3.3,Rochester Regional Health\n3.3,"Rochester, NY","Rochester, NY",10000+ employees,2014,Hospital,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),-1,0,0
9,Data Scientist,$120K-$160K (Glassdoor est.),isn’t your usual company. Our work is powered ...,4.6,<intent>\n4.6,"New York, NY","New York, NY",51 to 200 employees,2009,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Clicktripz, SmarterTravel",0,0
10,Data Scientist,$126K-$201K (Glassdoor est.),"At Wish, our Data Science & Engineering team i...",3.5,Wish\n3.5,"San Jose, CA","San Francisco, CA",501 to 1000 employees,2011,Company - Private,Other Retail Stores,Retail,$1 to $2 billion (USD),-1,0,0
11,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,0,0
12,Staff Data Scientist - Technology,$106K-$172K (Glassdoor est.),Position Summary...\nDrives the execution of m...,3.2,Walmart\n3.2,"Plano, TX","Bentonville, AR",10000+ employees,1962,Company - Public,"Department, Clothing, & Shoe Stores",Retail,$10+ billion (USD),"Target, Costco Wholesale, Amazon",0,0
13,Data Analyst,$46K-$85K (Glassdoor est.),"Are you an experienced Data Analyst, skilled a...",4.1,Yesler\n4.1,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,0,0
14,Data Scientist,$83K-$144K (Glassdoor est.),Job Description\n\n\nTakeda is looking for a D...,3.7,Takeda Pharmaceuticals\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Novartis, Baxter, Pfizer",0,0
15,Data Engineer I,$102K-$190K (Glassdoor est.),This opportunity is within Audibles Data Engin...,3.6,Audible\n3.6,"Newark, NJ","Newark, NJ",1001 to 5000 employees,1995,Subsidiary or Business Segment,Motion Picture Production & Distribution,Media,Unknown / Non-Applicable,-1,0,0
16,"Scientist I/II, Biology",$67K-$137K (Glassdoor est.),"Scientist I/II, Biology\n\nCambridge, MA\n\nBI...",3.9,Blueprint Medicines\n3.9,"Cambridge, MA","Cambridge, MA",51 to 200 employees,2011,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $5 million (USD),"bluebird bio, Agios Pharmaceuticals, Celgene",0,0
17,Customer Data Scientist,$118K-$189K (Glassdoor est.),Company Overview\n\nH2O.ai is the open source ...,4.3,h2o.ai\n4.3,"Mountain View, CA","Mountain View, CA",201 to 500 employees,2011,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
18,Data Scientist - Health Data Analytics,$110K-$175K (Glassdoor est.),"At Nuna, our mission is to make high-quality h...",4.2,Nuna\n4.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2010,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
19,Data Scientist,$64K-$111K (Glassdoor est.),"Pinnacol Assurance does just one thing, and do...",4.0,Pinnacol Assurance\n4.0,"Denver, CO","Denver, CO",501 to 1000 employees,1915,Nonprofit Organization,Insurance Carriers,Insurance,$500 million to $1 billion (USD),-1,0,0
20,Data Scientist,$81K-$130K (Glassdoor est.),About Our Team\n\nWe understand that the first...,3.2,Porch\n3.2,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Angie's List, HomeAdvisor, Thumbtack",0,0
21,Senior Data Scientist / Machine Learning,$73K-$119K (Glassdoor est.),IMMEDIATE NEED FOR A SENIOR DATA SCIENTIST / M...,3.9,Health IQ\n3.9,"Dallas, TX","Mountain View, CA",201 to 500 employees,2013,Company - Private,Insurance Agencies & Brokerages,Insurance,Unknown / Non-Applicable,-1,0,0
22,Data Scientist - Quantitative,$86K-$139K (Glassdoor est.),Truckstop.com is hiring a Data Scientist for o...,3.8,Truckstop.com\n3.8,"Chicago, IL","New Plymouth, ID",501 to 1000 employees,1995,Company - Private,Logistics & Supply Chain,Transportation & Logistics,Unknown / Non-Applicable,-1,0,0
23,Data Scientist,$63K-$105K (Glassdoor est.),Position Summary\nOur Data Science team is cur...,4.3,SMC 3\n4.3,"Louisville, KY","Peachtree City, GA",51 to 200 employees,1935,Nonprofit Organization,Logistics & Supply Chain,Transportation & Logistics,$10 to $25 million (USD),-1,0,0
25,Data Scientist,$109K-$177K (Glassdoor est.),Are you passionate about solving challenging p...,4.0,Novetta\n4.0,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",0,0
26,Digital Health Data Scientist,$63K-$110K (Glassdoor est.),ROLE SUMMARY\n\nThe Digital Health Data Scient...,4.0,Pfizer\n4.0,"Cambridge, MA","New York, NY",10000+ employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0
27,Data Scientist,$75K-$124K (Glassdoor est.),As the Enterprise Data and Analytics Center of...,3.5,First Tech Federal Credit Union\n3.5,"Hillsboro, OR","San Jose, CA",1001 to 5000 employees,1952,Company - Private,Banks & Credit Unions,Finance,$100 to $500 million (USD),-1,0,0
28,Associate Data Analyst,$34K-$61K (Glassdoor est.),"Friday, January 17, 2020\n\nOur Enterprise Dat...",3.7,The Hanover Insurance Group\n3.7,"Worcester, MA","Worcester, MA",5001 to 10000 employees,1852,Company - Public,Insurance Carriers,Insurance,$5 to $10 billion (USD),-1,0,0
29,Clinical Data Scientist,$63K-$105K (Glassdoor est.),THIS ROLE MUST BE BASED IN SAN DIEGO\n\nAs par...,4.0,Pfizer\n4.0,"Groton, CT","New York, NY",10000+ employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0
30,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
31,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
32,Data Scientist,$72K-$120K (Glassdoor est.),Preferred Qualifications\nMasters degree or do...,3.6,Amrock\n3.6,"Detroit, MI","Detroit, MI",1001 to 5000 employees,1997,Company - Private,Real Estate,Real Estate,$500 million to $1 billion (USD),-1,0,0
33,Data Scientist / Machine Learning Expert,$86K-$143K (Glassdoor est.),Posting Title\nData Scientist / Machine Learni...,3.8,Novartis\n3.8,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0
34,Data Scientist,$93K-$149K (Glassdoor est.),"Title: Software Engineer, Data Science\n\nDesi...",3.8,Juniper Networks\n3.8,"Sunnyvale, CA","Sunnyvale, CA",5001 to 10000 employees,1996,Company - Public,Telecommunications Services,Telecommunications,$2 to $5 billion (USD),-1,0,0
35,Data Scientist,$85K-$140K (Glassdoor est.),New England Biolabs is seeking a Data Scientis...,4.7,New England Biolabs\n4.7,"Ipswich, MA","Ipswich, MA",201 to 500 employees,1974,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Thermo Fisher Scientific, Enzymatics, Illumina",0,0
36,Web Data Analyst,$77K-$135K (Glassdoor est.),We are looking for a Web Data Analyst to assis...,4.2,Clarity Insights\n4.2,"San Jose, CA","Chicago, IL",201 to 500 employees,2008,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1,0,0
37,Data Scientist,$82K-$132K (Glassdoor est.),Overview\n\n\nAre you passionate about changin...,3.5,Esri\n3.5,"Redlands, CA","Redlands, CA",1001 to 5000 employees,1969,Company - Private,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),Pitney Bowes,0,0
38,Data Scientist,$83K-$137K (Glassdoor est.),STR is a government research contractor specia...,4.7,Systems & Technology Research\n4.7,"Woburn, MA","Woburn, MA",201 to 500 employees,2010,Company - Private,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),-1,0,0
39,Senior Data Scientist,$115K-$180K (Glassdoor est.),"Sartorius Stedim Data Analytics, a market lead...",3.5,Sartorius\n3.5,"Fremont, CA","Gottingen, Germany",5001 to 10000 employees,1870,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1,0,0
40,Data Engineer,$74K-$138K (Glassdoor est.),Lancer Insurance Company is looking for a Data...,3.5,Lancer Insurance\n3.5,"Long Beach, NY","Long Beach, NY",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),-1,0,0
41,Data Analyst,$64K-$112K (Glassdoor est.),About the Role:\n\nThe Data Analyst plays a cr...,4.2,Sauce Labs\n4.2,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),"BrowserStack, Selenium Master, Perfecto Mobile",0,0
43,Data Engineer,$68K-$129K (Glassdoor est.),Position Title: Data Engineer\n\nPersivia is s...,3.6,Persivia\n3.6,"Marlborough, MA","Lowell, MA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,0,0
44,Data Scientist - Algorithms & Inference,$110K-$175K (Glassdoor est.),"At Nuna, our mission is to make high-quality h...",4.2,Nuna\n4.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2010,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
45,Scientist,$52K-$113K (Glassdoor est.),"We are a global team of 6000 visionaries, doer...",3.4,Edgewell Personal Care\n3.4,"Allendale, NJ","Shelton, CT",5001 to 10000 employees,2015,Company - Public,Consumer Products Manufacturing,Manufacturing,$2 to $5 billion (USD),"Unilever, Procter & Gamble, Henkel",0,0
46,Senior Data Scientist,$110K-$150K(Employer est.),"Working for Equity Residential (EQR), a leadin...",4.3,Equity Residential\n4.3,"Chicago, IL","Chicago, IL",1001 to 5000 employees,1993,Company - Public,Real Estate,Real Estate,$2 to $5 billion (USD),"UDR, AvalonBay Communities, Essex Property Trust",0,0
48,Data Scientist,Employer Provided Salary:$150K-$160K,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\n5.0,"Washington, DC","Alexandria, VA",Unknown,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
49,Lead Data Scientist,$158K-$211K (Glassdoor est.),As the world's leader in digital payments tech...,3.7,Visa Inc.\n3.7,"Bellevue, WA","Foster City, CA",10000+ employees,1958,Company - Public,IT Services,Information Technology,$10+ billion (USD),"American Express, Mastercard, Discover",0,0
50,Associate Data Analyst,$20K-$39K (Glassdoor est.),Intrado is looking for an Associate Data Analy...,3.1,Intrado\n3.1,"Longmont, CO","Omaha, NE",5001 to 10000 employees,1986,Company - Private,Enterprise Software & Network Solutions,Information Technology,$2 to $5 billion (USD),-1,0,0
51,Spectral Scientist/Engineer,$56K-$117K (Glassdoor est.),Thank you for your interest in joining the Cen...,4.7,Centauri\n4.7,"Beavercreek, OH","Chantilly, VA",501 to 1000 employees,1999,Company - Private,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),"TASC, Vencore, Booz Allen Hamilton",0,0
52,College Hire - Data Scientist - Open to Decemb...,$63K-$99K (Glassdoor est.),Description\n\nCaterpillar's legacy of industr...,3.7,Caterpillar\n3.7,"Peoria, IL","Deerfield, IL",10000+ employees,1925,Company - Public,Industrial Manufacturing,Manufacturing,$10+ billion (USD),"John Deere, Komatsu, CNH Industrial",0,0

In [110]:
df['Employer_provided']=df['Salary Estimate'].apply(lambda x: 1 if "employer provided salary:" in x.lower() else 0)

In [111]:
df.head(100)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,Employer_provided
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0
5,Data Scientist,$71K-$119K (Glassdoor est.),CyrusOne is seeking a talented Data Scientist ...,3.4,CyrusOne\n3.4,"Dallas, TX","Dallas, TX",201 to 500 employees,2000,Company - Public,Real Estate,Real Estate,$1 to $2 billion (USD),"Digital Realty, CoreSite, Equinix",0,0
6,Data Scientist,$54K-$93K (Glassdoor est.),Job Description\n\n**Please only local candida...,4.1,ClearOne Advantage\n4.1,"Baltimore, MD","Baltimore, MD",501 to 1000 employees,2008,Company - Private,Banks & Credit Unions,Finance,Unknown / Non-Applicable,-1,0,0
7,Data Scientist,$86K-$142K (Glassdoor est.),Advanced Analytics – Lead Data Scientist\nOver...,3.8,Logic20/20\n3.8,"San Jose, CA","Seattle, WA",201 to 500 employees,2005,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1,0,0
8,Research Scientist,$38K-$84K (Glassdoor est.),SUMMARY\n\nThe Research Scientist I will be ta...,3.3,Rochester Regional Health\n3.3,"Rochester, NY","Rochester, NY",10000+ employees,2014,Hospital,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),-1,0,0
9,Data Scientist,$120K-$160K (Glassdoor est.),isn’t your usual company. Our work is powered ...,4.6,<intent>\n4.6,"New York, NY","New York, NY",51 to 200 employees,2009,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Clicktripz, SmarterTravel",0,0
10,Data Scientist,$126K-$201K (Glassdoor est.),"At Wish, our Data Science & Engineering team i...",3.5,Wish\n3.5,"San Jose, CA","San Francisco, CA",501 to 1000 employees,2011,Company - Private,Other Retail Stores,Retail,$1 to $2 billion (USD),-1,0,0
11,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,0,0
12,Staff Data Scientist - Technology,$106K-$172K (Glassdoor est.),Position Summary...\nDrives the execution of m...,3.2,Walmart\n3.2,"Plano, TX","Bentonville, AR",10000+ employees,1962,Company - Public,"Department, Clothing, & Shoe Stores",Retail,$10+ billion (USD),"Target, Costco Wholesale, Amazon",0,0
13,Data Analyst,$46K-$85K (Glassdoor est.),"Are you an experienced Data Analyst, skilled a...",4.1,Yesler\n4.1,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,0,0
14,Data Scientist,$83K-$144K (Glassdoor est.),Job Description\n\n\nTakeda is looking for a D...,3.7,Takeda Pharmaceuticals\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Novartis, Baxter, Pfizer",0,0
15,Data Engineer I,$102K-$190K (Glassdoor est.),This opportunity is within Audibles Data Engin...,3.6,Audible\n3.6,"Newark, NJ","Newark, NJ",1001 to 5000 employees,1995,Subsidiary or Business Segment,Motion Picture Production & Distribution,Media,Unknown / Non-Applicable,-1,0,0
16,"Scientist I/II, Biology",$67K-$137K (Glassdoor est.),"Scientist I/II, Biology\n\nCambridge, MA\n\nBI...",3.9,Blueprint Medicines\n3.9,"Cambridge, MA","Cambridge, MA",51 to 200 employees,2011,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $5 million (USD),"bluebird bio, Agios Pharmaceuticals, Celgene",0,0
17,Customer Data Scientist,$118K-$189K (Glassdoor est.),Company Overview\n\nH2O.ai is the open source ...,4.3,h2o.ai\n4.3,"Mountain View, CA","Mountain View, CA",201 to 500 employees,2011,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
18,Data Scientist - Health Data Analytics,$110K-$175K (Glassdoor est.),"At Nuna, our mission is to make high-quality h...",4.2,Nuna\n4.2,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2010,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
19,Data Scientist,$64K-$111K (Glassdoor est.),"Pinnacol Assurance does just one thing, and do...",4.0,Pinnacol Assurance\n4.0,"Denver, CO","Denver, CO",501 to 1000 employees,1915,Nonprofit Organization,Insurance Carriers,Insurance,$500 million to $1 billion (USD),-1,0,0
20,Data Scientist,$81K-$130K (Glassdoor est.),About Our Team\n\nWe understand that the first...,3.2,Porch\n3.2,"Seattle, WA","Seattle, WA",201 to 500 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Angie's List, HomeAdvisor, Thumbtack",0,0
21,Senior Data Scientist / Machine Learning,$73K-$119K (Glassdoor est.),IMMEDIATE NEED FOR A SENIOR DATA SCIENTIST / M...,3.9,Health IQ\n3.9,"Dallas, TX","Mountain View, CA",201 to 500 employees,2013,Company - Private,Insurance Agencies & Brokerages,Insurance,Unknown / Non-Applicable,-1,0,0
22,Data Scientist - Quantitative,$86K-$139K (Glassdoor est.),Truckstop.com is hiring a Data Scientist for o...,3.8,Truckstop.com\n3.8,"Chicago, IL","New Plymouth, ID",501 to 1000 employees,1995,Company - Private,Logistics & Supply Chain,Transportation & Logistics,Unknown / Non-Applicable,-1,0,0
23,Data Scientist,$63K-$105K (Glassdoor est.),Position Summary\nOur Data Science team is cur...,4.3,SMC 3\n4.3,"Louisville, KY","Peachtree City, GA",51 to 200 employees,1935,Nonprofit Organization,Logistics & Supply Chain,Transportation & Logistics,$10 to $25 million (USD),-1,0,0
25,Data Scientist,$109K-$177K (Glassdoor est.),Are you passionate about solving challenging p...,4.0,Novetta\n4.0,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",0,0
26,Digital Health Data Scientist,$63K-$110K (Glassdoor est.),ROLE SUMMARY\n\nThe Digital Health Data Scient...,4.0,Pfizer\n4.0,"Cambridge, MA","New York, NY",10000+ employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0
27,Data Scientist,$75K-$124K (Glassdoor est.),As the Enterprise Data and Analytics Center of...,3.5,First Tech Federal Credit Union\n3.5,"Hillsboro, OR","San Jose, CA",1001 to 5000 employees,1952,Company - Private,Banks & Credit Unions,Finance,$100 to $500 million (USD),-1,0,0
28,Associate Data Analyst,$34K-$61K (Glassdoor est.),"Friday, January 17, 2020\n\nOur Enterprise Dat...",3.7,The Hanover Insurance Group\n3.7,"Worcester, MA","Worcester, MA",5001 to 10000 employees,1852,Company - Public,Insurance Carriers,Insurance,$5 to $10 billion (USD),-1,0,0
29,Clinical Data Scientist,$63K-$105K (Glassdoor est.),THIS ROLE MUST BE BASED IN SAN DIEGO\n\nAs par...,4.0,Pfizer\n4.0,"Groton, CT","New York, NY",10000+ employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0
30,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Analytics Consultant,$52K-$81K (Glassdoor est.),SpringML is seeking an Analytics Consultant to...,4.4,SpringML\n4.4,"Indianapolis, IN","Pleasanton, CA",1 to 50 employees,2015,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
79,"Director, Data Science",$139K-$220K (Glassdoor est.),"Reporting to the Sr. Director, Analytics & Dat...",3.6,Grainger\n3.6,"Lake Forest, IL","Lake Forest, IL",10000+ employees,1927,Company - Public,Wholesale,Business Services,$10+ billion (USD),-1,0,0
80,Scientist,$50K-$102K (Glassdoor est.),Scientist\nOrganization\n\n\nEurofins EAG Mate...,2.7,EAG Laboratories\n2.7,"Maryland Heights, MO","San Diego, CA",501 to 1000 employees,1978,Subsidiary or Business Segment,Research & Development,Business Services,$50 to $100 million (USD),-1,0,0
81,Data Scientist SR,$85K-$139K (Glassdoor est.),"Data Scientist, Senior, Charlottesville, VA\n\...",3.9,The Buffalo Group\n3.9,"Charlottesville, VA","Reston, VA",501 to 1000 employees,2010,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),"ManTech, Booz Allen Hamilton, Leidos",0,0
82,Data Scientist,$74K-$122K (Glassdoor est.),We are looking for an individual who will begi...,3.1,Carmeuse\n3.1,"Pittsburgh, PA","Louvain-la-Neuve, Belgium",1001 to 5000 employees,1860,Company - Private,Mining,Mining & Metals,$1 to $2 billion (USD),"Lhoist, Graymont, Sibelco Group",0,0
83,R&D Sr Data Scientist,$99K-$157K (Glassdoor est.),We are seeking an experienced and innovative D...,4.0,HP Inc.\n4.0,"Vancouver, WA","Palo Alto, CA",10000+ employees,1939,Company - Public,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,0,0
84,Customer Data Scientist/Sales Engineer (Bay,$79K-$222K (Glassdoor est.),Company Overview\n\nH2O.ai is the open source ...,4.3,h2o.ai\n4.3,"Mountain View, CA","Mountain View, CA",201 to 500 employees,2011,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
85,Research Scientist,$57K-$118K (Glassdoor est.),Company Overview\n\nImagine if we could match ...,1.9,GNS Healthcare\n1.9,"Cambridge, MA","Cambridge, MA",51 to 200 employees,2000,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10 to $25 million (USD),-1,0,0
86,Data Scientist,$83K-$137K (Glassdoor est.),Overview\n\n\nPeraton is seeking a Senior Data...,3.3,Peraton\n3.3,"Chantilly, VA","Herndon, VA",1001 to 5000 employees,2017,Company - Private,Aerospace & Defense,Aerospace & Defense,$1 to $2 billion (USD),-1,0,0
87,Data Scientist,$86K-$141K (Glassdoor est.),Looking fora Data Scientis/Architect who has 8...,4.4,Pactera\n4.4,"San Jose, CA","Beijing, China",10000+ employees,1995,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),"Infosys, EPAM, Accenture",0,0
88,Data Scientist,$94K-$154K (Glassdoor est.),Nurx is looking for a Data Scientist who loves...,3.9,Nurx\n3.9,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2016,Company - Private,Health Care Services & Hospitals,Health Care,$1 to $5 million (USD),-1,0,0
89,Jr. Business Data Analyst,$37K-$76K (Glassdoor est.),"Hi there! We're WebFX, a full-service digital ...",4.7,webfx.com\n4.7,"Harrisburg, PA","Harrisburg, PA",201 to 500 employees,1997,Company - Private,Advertising & Marketing,Business Services,$25 to $50 million (USD),-1,0,0
90,Data Scientist,$100K-$160K (Glassdoor est.),Are you passionate about providing real impact...,4.5,Johns Hopkins University Applied Physics Labor...,"Laurel, MD","Laurel, MD",5001 to 10000 employees,1942,Nonprofit Organization,Aerospace & Defense,Aerospace & Defense,$1 to $2 billion (USD),"MIT Lincoln Laboratory, Lockheed Martin, North...",0,0
91,Data Analyst,$55K-$100K (Glassdoor est.),"The Productive Edge Data, Automation and Artif...",4.3,Productive Edge\n4.3,"Chicago, IL","Chicago, IL",51 to 200 employees,2008,Company - Private,Computer Hardware & Software,Information Technology,$10 to $25 million (USD),"Numerator, Rise Interactive, Salom",0,0
92,Data Engineer,$60K-$114K (Glassdoor est.),Overview\n\n\nThe Data Engineer participates i...,4.0,Excella Consulting\n4.0,"Arlington, VA","Arlington, VA",201 to 500 employees,2002,Company - Private,Consulting,Business Services,$50 to $100 million (USD),-1,0,0
93,Data Analyst,$39K-$68K (Glassdoor est.),"Description\nInterpret data, analyze results u...",4.4,Gensco\n4.4,"Tacoma, WA","Tacoma, WA",501 to 1000 employees,1948,Company - Private,Wholesale,Business Services,$100 to $500 million (USD),-1,0,0
94,Staff Data Scientist - Technology,$106K-$172K (Glassdoor est.),Position Summary...\nDrives the execution of m...,3.2,Walmart\n3.2,"Plano, TX","Bentonville, AR",10000+ employees,1962,Company - Public,"Department, Clothing, & Shoe Stores",Retail,$10+ billion (USD),"Target, Costco Wholesale, Amazon",0,0
95,Data Scientist,$86K-$142K (Glassdoor est.),Advanced Analytics – Lead Data Scientist\nOver...,3.8,Logic20/20\n3.8,"San Jose, CA","Seattle, WA",201 to 500 employees,2005,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1,0,0
96,Data Scientist,$64K-$107K (Glassdoor est.),Are you performance-driven and want your impac...,4.2,goTRG\n4.2,"Miami, FL","Miami, FL",501 to 1000 employees,2008,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),-1,0,0
97,Data Management Specialist,$31K-$65K (Glassdoor est.),"Location: Huntsville, AL\n\nClearance: Secret ...",4.5,NMR Consulting\n4.5,"Huntsville, AL","Chantilly, VA",51 to 200 employees,1996,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),-1,0,0
99,E-Commerce Data Analyst,$34K-$62K (Glassdoor est.),We have an exciting opportunity forYOU to join...,3.5,iSeatz\n3.5,"New Orleans, LA","New Orleans, LA",51 to 200 employees,1999,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0
101,Sr. Scientist II,$117K-$231K (Glassdoor est.),Sr. Scientist II\nLocation\n\n\nSan Francisco\...,3.5,Nektar Therapeutics\n3.5,"San Francisco, CA","San Francisco, CA",201 to 500 employees,1990,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD),"Bristol-Myers Squibb, Merck, GlaxoSmithKline",0,0
102,Insurance Data Scientist,$64K-$106K (Glassdoor est.),What We'll Bring:\n\nWhat We'll Bring:\n\nAt T...,3.9,TransUnion\n3.9,"Atlanta, GA","Chicago, IL",5001 to 10000 employees,1968,Company - Public,Financial Analytics & Research,Finance,$1 to $2 billion (USD),-1,0,0
104,Data Modeler,$79K-$134K (Glassdoor est.),The database modeler shall perform analysis of...,4.7,IT Concepts\n4.7,"Landover, MD","Vienna, VA",51 to 200 employees,2003,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1,0,0
105,Data Analyst / Scientist,$52K-$93K (Glassdoor est.),Scientific Research Corporation is an advanced...,4.2,Scientific Research Corporation\n4.2,"Patuxent River, MD","Atlanta, GA",1001 to 5000 employees,1988,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,0,0
106,Scientist,$55K-$116K (Glassdoor est.),Type of Requisition:\n\nRegular\n\nClearance L...,3.4,General Dynamics Information Technology\n3.4,"Suitland, MD","Fairfax, VA",10000+ employees,1996,Subsidiary or Business Segment,IT Services,Information Technology,$10+ billion (USD),"SAIC, Leidos, Northrop Grumman",0,0
107,Data Scientist,$72K-$123K (Glassdoor est.),Why choose between doing meaningful work and\n...,3.2,MITRE\n3.2,"McLean, VA","Bedford, MA",5001 to 10000 employees,1958,Nonprofit Organization,Federal Agencies,Government,$1 to $2 billion (USD),"Battelle, General Atomics, SAIC",0,0
108,Data Scientist,$74K-$124K (Glassdoor est.),Data Scientist\nUS Citizenship and a current T...,3.9,The Buffalo Group\n3.9,"Fort Belvoir, VA","Reston, VA",501 to 1000 employees,2010,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),"ManTech, Booz Allen Hamilton, Leidos",0,0
109,Data Analyst,$40K-$73K (Glassdoor est.),The Data Analyst is primarily responsible for ...,3.1,DentaQuest\n3.1,"Milwaukee, WI","Boston, MA",1001 to 5000 employees,2001,Company - Private,Insurance Carriers,Insurance,$2 to $5 billion (USD),"MCNA Dental Plans, United Concordia, Delta Den...",0,0
110,Lead Data Scientist,$102K-$164K (Glassdoor est.),Position Title: Lead Data Scientist\n\nDepartm...,4.1,Redjack\n4.1,"Silver Spring, MD","Silver Spring, MD",1 to 50 employees,2007,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1,0,0

In [114]:
min_hr=rep_d.apply(lambda x:x.lower().replace("per hour",'').replace("employer provided salary:",''))

In [115]:
min_hr

0        53-91
1       63-112
2        80-90
3        56-97
4       86-143
5       71-119
6        54-93
7       86-142
8        38-84
9      120-160
10     126-201
11      64-106
12     106-172
13       46-85
14      83-144
15     102-190
16      67-137
17     118-189
18     110-175
19      64-111
20      81-130
21      73-119
22      86-139
23      63-105
25     109-177
26      63-110
27      75-124
28       34-61
29      63-105
30       80-90
         ...
920      49-97
921     49-113
924     96-161
926     65-134
928     59-125
929      32-59
930     87-158
931      27-48
932      39-69
933      36-71
934    107-173
935      56-99
936      25-28
938     80-155
939      43-98
940      45-78
941     50-110
942      44-96
943     100-140
944     61-119
945     80-142
946     99-178
947     37-100
948     62-113
949     86-137
950     58-111
951     72-133
952      56-91
953     95-160
955     61-126
Name: Salary Estimate, Length: 742, dtype: object

In [116]:
#now the text has been removed

In [117]:
#Now we will find the average salary

In [121]:
df['min_sal']=min_hr.apply(lambda x:x.split('-')[0])
df['min_sal']

0       53
1       63
2       80
3       56
4       86
5       71
6       54
7       86
8       38
9      120
10     126
11      64
12     106
13      46
14      83
15     102
16      67
17     118
18     110
19      64
20      81
21      73
22      86
23      63
25     109
26      63
27      75
28      34
29      63
30      80
      ...
920     49
921     49
924     96
926     65
928     59
929     32
930     87
931     27
932     39
933     36
934    107
935     56
936     25
938     80
939     43
940     45
941     50
942     44
943    100
944     61
945     80
946     99
947     37
948     62
949     86
950     58
951     72
952     56
953     95
955     61
Name: min_sal, Length: 742, dtype: object

In [122]:
df['max_sal']=min_hr.apply(lambda x:x.split('-')[1])
df['max_sal']

0       91
1      112
2       90
3       97
4      143
5      119
6       93
7      142
8       84
9      160
10     201
11     106
12     172
13      85
14     144
15     190
16     137
17     189
18     175
19     111
20     130
21     119
22     139
23     105
25     177
26     110
27     124
28      61
29     105
30      90
       ...
920     97
921    113
924    161
926    134
928    125
929     59
930    158
931     48
932     69
933     71
934    173
935     99
936     28
938    155
939     98
940     78
941    110
942     96
943     140
944    119
945    142
946    178
947    100
948    113
949    137
950    111
951    133
952     91
953    160
955    126
Name: max_sal, Length: 742, dtype: object

In [123]:
df['min_sal'].to_int

AttributeError: 'Series' object has no attribute 'to_int'

In [124]:
df['min_sal'] = pd.to_numeric(df['min_sal'])
#df['DataFrame Column'] = pd.to_numeric(df['DataFrame Column'])